:root {
    --deep-charcoal-gray: #37474F;
    --muted-sky-blue: #90CAF9;
    --soft-olive-green: #A5D6A7;
    --off-white: #F5F5F5;
  }
  
  .createServicePage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--deep-charcoal-gray);
    min-height: 100vh;
  }
  
  .createServicePage h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--off-white);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: var(--deep-charcoal-gray);
    padding: 20px;
    border-radius: 12px;
  }
  
  .form label {
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--off-white);
    width: 100%;
  }
  
  .form input,
  .form textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: var(--off-white);
    color: var(--deep-charcoal-gray);
  }
  
  .form input::placeholder,
  .form textarea::placeholder {
    color: var(--deep-charcoal-gray);
  }
  
  .form button {
    margin-top: 20px;
    padding: 12px 55px;
    font-size: 16px;
    background-color: var(--muted-sky-blue);
    color: var(--deep-charcoal-gray);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: var(--soft-olive-green);
  }