:root {
    --deep-charcoal-gray: #37474F;
    --muted-sky-blue: #a6b5c0;
    --soft-olive-green: #b4c7b5;
    --off-white: #F5F5F5;
  }
  
  .dashboard {
    background-color: var(--off-white);
    color: var(--deep-charcoal-gray);
    padding: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  
  .sloganBox {
    flex: 1;
    background-color: var(--soft-olive-green);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px; 
    margin-right: auto;
  }
  
  .sloganBox h2 {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
    color: var(--deep-charcoal-gray);
    text-align: left;
  }
  
  .sloganBox p {
    font-size: 3em;
    margin: 0;
    color: var(--deep-charcoal-gray);
    text-align: left; 
  }
  
  .favoritesBox, .tripsBox, .servicesBox {
    flex: 1;
    background-color: var(--deep-charcoal-gray);
    padding: 20px;
    border-radius: 8px;
    color: var(--off-white);
  }
  
  .favoritesList, .servicesGrid {
    background-color: var(--off-white);
    padding: 10px;
    border-radius: 8px;
    color: var(--deep-charcoal-gray);
    margin-top: 10px;
  }
  
  .favoritesList {
    max-height: 400px; 
    overflow-y: auto;
  }
  
  .favoritesList::-webkit-scrollbar {
    width: 15px;
  }
  
  .favoritesList::-webkit-scrollbar-track {
    background: var(--off-white);
    border-radius: 10px;
  }
  
  .favoritesList::-webkit-scrollbar-thumb {
    background-color: var(--muted-sky-blue);
    border-radius: 10px;
    border: 3px solid var(--deep-charcoal-gray);
  }
  
  .favoritesList::-webkit-scrollbar-thumb:hover {
    background-color: var(--soft-olive-green);
  }
  
  .favoriteItem, .tripItem, .serviceItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--off-white);
    color: var(--deep-charcoal-gray);
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .favoriteItem:hover, .tripItem:hover, .serviceItem:hover {
    background-color: var(--muted-sky-blue);
  }
  
  .favoriteItem img, .serviceItem img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
  }
  
  .favoriteItem p, .tripItem p, .serviceItem p {
    margin: 0;
    font-size: 1.2em;
    color: var(--deep-charcoal-gray);
  }
  
  .removeButton {
    background: none;
    border: none;
    color: var(--deep-charcoal-gray);
    cursor: pointer;
    margin-left: auto;
  }
  
  .removeButton:hover {
    color: var(--muted-sky-blue);
  }
  
  .breakLine {
    width: 50%; 
    height: 1px;
    background-color: var(--deep-charcoal-gray);
    margin: 10px auto;
  }
  
  .servicesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .createServiceButton {
    background-color: var(--muted-sky-blue);
    border: none;
    color: var(--off-white);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .createServiceButton:hover {
    background-color: var(--soft-olive-green);
  }

  .header {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .header img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fade 30s infinite;
    object-fit: cover;
  }
  
  .header img:nth-child(1) {
    animation-delay: 0s;
  }
  
  .header img:nth-child(2) {
    animation-delay: 5s;
  }
  
  .header img:nth-child(3) {
    animation-delay: 10s;
  }
  
  .header img:nth-child(4) {
    animation-delay: 15s;
  }
  
  .header img:nth-child(5) {
    animation-delay: 20s;
    object-position: bottom;
  }
  
  .header img:nth-child(6) {
    animation-delay: 25s;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    16.66% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  .favoritesBox h2, .tripsBox h2, .favoritesBox p, .tripsBox p {
    color: var(--off-white);
    text-shadow: none;
}

.favoritesBox h2, .tripsBox h2 {
  color: var(--off-white);
  text-shadow: none;
}

.favoritesBox p, .tripsBox p {
  color: var(--deep-charcoal-gray);
  text-shadow: none;
}
.servicesHeader h2 {
  color: var(--off-white);
  text-shadow: none;
}