:root {
  --deep-charcoal-gray: #37474F;
  --muted-sky-blue: #90CAF9;
  --soft-olive-green: #A5D6A7;
  --off-white: #F5F5F5;
}

.userDashboard {
  background-color: var(--off-white);
  color: var(--deep-charcoal-gray);
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.sloganBox {
  flex: 1;
  background-color: var(--soft-olive-green);
  padding: 20px;
  border-radius: 8px;
  max-width: 300px; 
  margin-right: auto;
}

.sloganBox h2 {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
  color: var(--deep-charcoal-gray);
  text-align: left;
}

.sloganBox p {
  font-size: 3em;
  margin: 0;
  color: var(--deep-charcoal-gray);
  text-align: left; 
}

.favoritesBox {
  flex: 1;
  background-color: var(--deep-charcoal-gray);
  padding: 20px;
  border-radius: 8px;
  color: var(--off-white);
}

.favoritesList {
  background-color: var(--off-white);
  padding: 10px;
  border-radius: 8px;
  color: var(--deep-charcoal-gray);
  margin-top: 10px;
}

.favoriteItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--off-white);
  color: var(--deep-charcoal-gray);
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.favoriteItem:hover {
  background-color: var(--muted-sky-blue);
}

.favoriteItem img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.favoriteItem p {
  margin: 0;
  font-size: 1.2em;
  color: var(--deep-charcoal-gray);
}

.removeButton {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  cursor: pointer;
  margin-left: auto;
}

.removeButton:hover {
  color: var(--muted-sky-blue);
}

.tripsBox {
  flex: 1;
  background-color: var(--muted-sky-blue);
  padding: 20px;
  border-radius: 8px;
}

.tripItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--off-white);
  color: var(--deep-charcoal-gray);
  margin-bottom: 10px;
}

.tripItem p {
  margin: 0;
  font-size: 1.2em;
  color: var(--deep-charcoal-gray);
}