
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: 'Lexend Deca', 'Montserrat', sans-serif;
}


a:hover, button:hover {
  background-color: transparent; 
  color: inherit; 
}

a:focus, button:focus {
  outline: none;
}