:root {
  --deep-charcoal-gray: #37474F;
  --muted-sky-blue: #a6b5c0;
  --soft-olive-green: #b4c7b5;
  --off-white: #F5F5F5;
  --gray: #B0BEC5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--off-white);
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbarLeft {
  flex: 1;
}

.navbarCenter {
  flex: 2;
  display: flex;
  justify-content: center;
}

.navbarRight {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navbarLogo {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 1.5em;
  cursor: pointer;
}

.navbarCenter button {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 1.2em;
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.navbarCenter button .iconBox {
  margin-right: 0.5em;
}

.navbarCenter button:hover {
  color: var(--muted-sky-blue);
}

.profileButton {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
}

.profileDropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--off-white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.profileDropdown.open {
  display: block;
}

.profileDropdown button {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 1em;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.profileDropdown button:hover {
  color: var(--muted-sky-blue);
}

.menuButton {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 2.5em;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
.menuButton.open {
  display: none; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); 
  z-index: 998; 
  display: none;
}

.overlay.open {
  display: block; 
}

.sidePanel {
  position: fixed;
  top: 0;
  /* left: auto; */
  right: -251px;
  width: 250px;
  height: 100%;
  background-color: var(--deep-charcoal-gray);
  color: var(--off-white);
  transition: right 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidePanel.open {
  right: 0;
}

.closeButton {
  background: none;
  border: none;
  color: var(--off-white);
  font-size: 1.75em;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.navItems {
  padding: 60px 20px 20px; 
}

.navItem {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.navItem a,
.navItem button {
  display: flex;
  align-items: center;
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.2em;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.navItem a:hover,
.navItem button:hover {
  color: var(--muted-sky-blue);
}

.iconBox {
  margin-right: 10px;
}

.divider {
  height: 1px;
  background-color:var(--off-white); 
  margin: 20px 0;
}

.footerContent {
  padding: 20px;
  background-color: var(--deep-charcoal-gray);
}

.footerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinksBox {
  margin-bottom: 10px;
}

.socialLinks a {
  color: var(--off-white);
  font-size: 1.5em;
  margin: 0 10px;
}

.socialLinks a:hover {
  color: var(--muted-sky-blue);
}

.rightsReservedBox {
  color: var(--off-white);
  font-size: 0.8em;
  text-align: center;
}

.profileButtonContainer {
  position: relative;
}

.profileButton {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 2.5em;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}

.profileDropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--off-white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  border: #37474F solid 1px;
}

.profileDropdown.open {
  display: block;
}

.profileDropdown li {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--deep-charcoal-gray);
  border-bottom: 1px solid var(--deep-charcoal-gray); 
}

.profileDropdown li:last-child {
  border-bottom: none; 
}

.profileDropdown li:hover {
  background-color: var(--muted-sky-blue);
  color: var(--off-white);
}

.profileDropdown button {
  background: none;
  border: none;
  color: var(--deep-charcoal-gray);
  font-size: 1em;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.profileDropdown button:hover {
  background-color: var(--muted-sky-blue);
  color: var(--off-white);
}

.navbarLogo img {
  width: 80px;
  height: auto;
}
.navbar button {
  box-shadow: none; 
}


.sidePanel button {
  box-shadow: none;
  outline: none;
}


.navbarRight .profileButton {
  transition: transform 0.2s ease-in-out;
}

.navbarRight .profileButton:hover {
  transform: scale(1.1);
}