:root {
  --deep-charcoal-gray: #37474F;
  --muted-sky-blue: #90CAF9;
  --soft-olive-green: #A5D6A7;
  --off-white: #F5F5F5;
}

.menuButton {
  font-size: 2em;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  color: var(--deep-charcoal-gray); 
  z-index: 1000;
}

.menuButton.open {
  color: var(--off-white); 
}

.sidePanel {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--deep-charcoal-gray);
  transition: width 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  z-index: 900;
}

.sidePanel.open {
  width: 250px;
}

.navItems {
  flex-grow: 1;
  display: none;
  flex-direction: column;
}

.sidePanel.open .navItems {
  display: flex;
}

.navItem {
  padding: 8px 16px;
  text-align: left;
  display: block; 
}

.navItem a,
.navItem button {
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navItem a:hover,
.navItem button:hover {
  color: var(--muted-sky-blue);
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em; 
  height: 2em; 
  margin-right: 0.5em; 
}

.linkBox {
  display: flex;
  align-items: center;
}

svg.svg-inline--fa.fa-location-dot {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.sidePanel .closeButton {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 2em;
  background: none;
  border: none;
  color: var(--off-white); 
  cursor: pointer;
}

.sidePanel .closeButton.open {
  color: var(--off-white); 
}

.footerContent {
  padding: 20px;
  text-align: center;
  color: var(--off-white);
  flex-shrink: 0; 
  display: none; 
}

.sidePanel.open .footerContent {
  display: block; 
}

.footerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinksBox {
  margin-bottom: 5px;
}

.socialLinks a {
  color: var(--off-white);
  margin: 0 10px;
  font-size: 1.5em;
}

.socialLinks a:hover {
  color: var(--muted-sky-blue);
}

.rightsReservedBox {
  margin-top: 0px;
  margin-bottom: 35px;
}

.navDivider {
  width: 50%;
  margin: 10px auto;
  border: 1px solid var(--off-white);
}

.demoButtonContainer {
  position: relative;
  padding: 8px 16px;
}

.demoButton {
  background-color: var(--muted-sky-blue);
  color: var(--deep-charcoal-gray);
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.demoDropdown {
  display: none;
  flex-direction: column;
  padding: 9px 16px;
  text-align: left;
  background-color: var(--deep-charcoal-gray);
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  z-index: 1000;
}

.demoButtonContainer:hover .demoDropdown {
  display: flex;
}

.demoDropdown button {
  color: var(--off-white);
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px 0;
}

.demoDropdown button:hover {
  color: var(--muted-sky-blue);
}